@media(max-width: 600px)  {
   .navigation-wrapper{
      flex-direction: column;
      height: 100%;
   }
   .background container{
      flex-direction: column;
      height: 100%;
   }
 .footer{
     flex-direction: column;
      height: 100%;
}

   }







