.navigation-wrapper{
    height: 190px;
    background-color: #11122b;
    color: #cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}
.navigation-wrapper.left-column{
  display: flex; 
  align-items: center;
  
}
.icon{
    margin-right: 15px;
}
.icon i{
    font-size: 2em;
    color: white;
}
.contact-hours-wrapper .left-column{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.contact-hours-wrapper .left-column .hours{
font-family: sans-serif;
color: #858585;
font-size: 0.8em;
}
.contact-hours-wrapper .left-column .phone{
    font-family: sans-serif;
    color: #858585;
    font-size: 0.8em;
    }
.links-wrapper .centre-column  {
    align-items: center;
    justify-content: space-between;
    display: flex;
   
 }
.links-wrapper .centre-column .nav-link {
   align-items: center;
   justify-content: space-between;
   display: flex;
   
}

.links-wrapper .centre-column .nav-link a{
    font-size: 14px;
    width: 100px;
    color: white;
   
}

.links-wrapper .centre-column .logo{
   height: 100%;
   border-radius: 50%;
   width: 200px;
   margin-top: 20px;
   margin-left: 100px;
}


.navigation-wrapper .centre-column{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    
}

.links-wrapper .nav-link a:hover{
    color:gold ;
    letter-spacing: 2px;  
}

.links-wrapper .nav-link{
    text-align: center;  
}
.navigation-wrapper .right-column {
    display: flex;
    align-items:center;
   
}

.navigation-wrapper .right-column .adress-wrapper{
   font-family: sans-serif; 
   text-align: right;
}
.navigation-wrapper .right-column .contact-icon{
  margin: 15px;  
  font-size: 17px;
  
}
.navigation-wrapper .right-column .adress-wrapper a{
    color:#858585 ;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;

}
.navigation-wrapper .right-column .adress-wrapper a:hover{
    color:gold;
}
.navigation-wrapper .right-column .contact-icon a{
    color: #cbcbcb;
    transition: 0.5s;
}
.background-container{
    background-image: url(images/background-image-2.jpeg);
    padding: 100px;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-heading {
    font-family: sans-serif;
    background-color:goldenrod ;
    color: #11122b;
    padding: 7px 7px;
    width: 310px;
   font-size: 12px;
  border-radius: 50%
}
.bottom-heading{
    background-color: white;
    color: #11122b;
    padding: 1px 20px;
    margin-top: 15px;
    width: 150px;
    border-radius: 50%;
}
  
.features-section{
    height: 400px;
    background-image: url(images/background-3.jpeg);
    background-color: gold;
    border-top: 10px solid white;
    color:#11122b ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}
.columns-wrapper{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.column{
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition:1s;
}
.features-section .columns-wrapper .column:hover{
    border-bottom: 5px solid #11122b; 


}
.column :nth-child(1){
    font-size: 10px;
}
.column :nth-child(2){
    font-size: 14px;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}

.column :nth-child(2):hover{
  letter-spacing: 1px;
}

.column :nth-child(3){
   letter-spacing: 2px;
}
.footer{
    background-color: #11122b;
    color: #cbcbcb;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     height: 400px;
     margin-top: -4px;
}


.footer .nav-link{
    align-items: center;
    justify-content: space-between;
    display: flex; 
}
.footer .nav-link a{
    font-size: 14px;
    color: white;
   
}
.logo-footer img{
   height: 100%;
   width: 150px;
   border-radius: 50%;
   filter: brightness(70%);
}
.footer-phone-hours span{
margin-left: 10px;
margin-right: 10px;
font-size: 1em;
letter-spacing: 2px;
}
.footer-phone-hours .hours{
   font-size: 0.8em; 
   color: #cea135;
}
.footer .nav-link{
margin-top:30px ;
margin-bottom: 30px;
width: 400px;
}
.footer .nav-link a:hover{
    color:gold ;
    letter-spacing: 2px; 
}
.social-media-icon-wrapper{
    margin-top:30px ;
    margin-bottom: 30px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.social-media-icon-wrapper a{
    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;
}
.social-media-icon-wrapper a:hover{
    color: #cea135;
}
.copyright-wrapper{
    margin-bottom: 35px;
    font-size: 0.7em;
    color: #858585;

}



