
.footer{
    background-color: #11122b;
    color: #cbcbcb;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     height: 400px;
     margin-top: -4px;
}


.footer .nav-link{
    align-items: center;
    justify-content: space-between;
    display: flex; 
}
.footer .nav-link a{
    font-size: 14px;
    color: white;
   
}
.logo-footer img{
   height: 100%;
   width: 150px;
   border-radius: 50%;
   filter: brightness(70%);
}
.footer-phone-hours span{
margin-left: 10px;
margin-right: 10px;
font-size: 1em;
letter-spacing: 2px;
}
.footer-phone-hours .hours{
   font-size: 0.8em; 
   color: #cea135;
}
.footer .nav-link{
margin-top:30px ;
margin-bottom: 30px;
width: 400px;
}
.footer .nav-link a:hover{
    color:gold ;
    letter-spacing: 2px; 
}
.social-media-icon-wrapper{
    margin-top:30px ;
    margin-bottom: 30px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.social-media-icon-wrapper a{
    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;
}
.social-media-icon-wrapper a:hover{
    color: #cea135;
}
.copyright-wrapper{
    margin-bottom: 35px;
    font-size: 0.7em;
    color: #858585;
}